@import '../everforest.css';

:root {
  --bg-translucent: color-mix(in srgb, var(--bg-base) 50%, transparent);
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-base);
}

body::before {
  content: '';
  position: fixed;
  inset: -18px;
  background-color: var(--bg-base);
  background-image: url("/assets/flowers.webp");
  background-size: cover;
  filter: blur(12px);
  z-index: -1;
}

h1 {
  position: relative;
  color: var(--text-primary);
  text-align: center;
  margin: 20px auto;
  padding: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.text-block {
  color: var(--text-primary);
  text-align: start;
  margin: 10px auto;
  width: fit-content;
  position: relative;
  padding: 5px;
}

h1::before,
.text-block::before {
  content: '';
  position: absolute;
  inset: 0px;
  backdrop-filter: blur(8px);
  z-index: -1;
  border-radius: 3px;

  background:
    linear-gradient(to bottom right,
      var(--bg-translucent),
      var(--bg-translucent)) padding-box,
    linear-gradient(to bottom right,
      var(--bg-translucent),
      var(--bg-translucent)) border-box;
  border: 2px solid transparent;
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2.5rem auto;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 135deg;
  inherits: false;
}

.card {
  --color: var(--text-primary);
  color: var(--color);
  width: 180px;
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  background:
    linear-gradient(var(--bg-translucent),
      var(--bg-translucent)) padding-box,
    linear-gradient(var(--angle),
      color-mix(in srgb, var(--accent-orange) 50%, transparent),
      var(--bg-translucent)) border-box;
  border: 2px solid transparent;
  border-radius: 3px;

  &::before {
    content: '';
    position: absolute;
    inset: 0px;
    backdrop-filter: blur(8px);
    z-index: -1;
    border-radius: 3px;
  }

  svg {
    height: 2.75rem;
    width: 2.75rem;
    vertical-align: middle;
    fill: var(--color);
  }

  &:hover {
    animation: cardAnimation 2s linear infinite;
  }
}

@keyframes cardAnimation {
  to {
    --angle: 495deg;
  }
}

.status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.statusline-one svg,
.statusline-two svg,
.statusline-rest svg {
  vertical-align: middle;
  fill: var(--color);
}

.statusline-one {
  background-color: var(--statusline-1);
  color: var(--bg-dim);
  margin: 0px;
  padding: 3px;

  &:hover {
    background-color: oklch(from var(--statusline-1) calc(l - 0.1) c h);
  }
}

.statusline-two {
  background-color: var(--statusline-2);
  color: var(--bg-dim);
  margin: 0px;
  padding: 3px;

  &:hover {
    background-color: oklch(from var(--statusline-2) calc(l - 0.1) c h);
  }
}

.statusline-rest {
  --bg: var(--bg-base);
  --color: var(--text-primary);
  background-color: var(--bg);
  color: var(--color);
  flex: 1;
  margin: 0px;
  padding: 3px;

  &:hover {
    background-color: var(--bg-dim)
  }
}